/* ---- About Start ---- */

#about {
  color: var(--main-black);
  height: auto;
  width: 100%;
  padding: var(--pad-top-bot) 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: var(--main-white);
  overflow: hidden;
  font-family: var(--fontmain);
}

.about-img {
  width: 205px;
  height: 205px;
  border-radius: 50%;
  background-image: url(https://images.pexels.com/photos/3762863/pexels-photo-3762863.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border: 10px solid var(--main-black);
  transform: translateX(-200px);
  opacity: 0%;
  transition: transform 1.5s var(--anim-slides), opacity 1.5s var(--anim-slides);
  margin: 10px 20px 10px 0;
}

.about-txt {
  width: 500px;
  transform: translateX(200px);
  opacity: 0%;
  transition: transform 1.5s var(--anim-slides), opacity 1.5s var(--anim-slides);
  margin: 10px 0px 10px 20px;
}

.about-txt.show {
  transform: translateX(0px);
  opacity: 100%;
}

.about-img.show {
  transform: translateX(0px);
  opacity: 100%;
}

/* ---- About End ---- */
