/* ---- Gallery Start ---- */

#gallery {
  padding: var(--pad-top-bot) 0;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--main-offwhite);
}

#gallery h2 {
  margin: 10px 0;
  text-align: center;
  display: block;
  width: 100%;
  font-family: var(--fontmain);
}

.filterCon {
  width: auto;
  height: 40px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--main-white);
  border-radius: 14px;
}

.filterBtn {
  display: inline-block;
  width: 60px;
  height: 34px;
  border-radius: 11px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px 4px;
  color: var(--main-white);
  background-color: var(--main-blue);
  transition: background-color 300ms;
  font-family: var(--fontmain);
}

.filterBtn:hover {
  background-color: var(--main-rollOver);
}

.filterBtn .current {
  background-color: var(--main-rollOver);
}

.galleryCon {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  width: 80vw;
  max-width: var(--maxWidth);
  padding: 10px;
  margin: 10px 0;
  background-color: var(--main-white);
  border-radius: 10px;
  transition: width 50ms ease;
}

a.imageCon {
  position: relative;
  width: 120px;
  height: 120px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  margin: 5px;
  transition: all 1s ease;
}

.selected {
  background-color: var(--main-rollOver);
}

.thumb {
  width: 100%;
  height: 100%;
  transition: transform 3s linear;
}

img.thumb {
  object-fit: cover;
}

.fas {
  position: absolute;
  color: white;
  z-index: 9;
  opacity: 0;
  transition: transform 3s linear, opacity 0.3s linear;
}

.imageCon:hover .thumb {
  transform: scale(1.2);
  cursor: pointer;
  opacity: 100;
}

.imageCon:hover .fas {
  transform: scale(1.2);
  cursor: pointer;
  opacity: 100;
}

a.gallHide {
  display: none;
}

/* ---- Gallery End ---- */
